
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<dl>
    <dt>Shortly about me</dt>
    <dd>XX years old, originally from Dalarna and currently living in Växjö. In need of more space for my guitars.</dd>
</dl>

