
@{
    ViewData["Title"] = "Contact";
}

<h1>Fictional Contact Info</h1>

<div>
    <span class="bold">Name:</span>
    <span>Daniel Carlsson</span>
</div>
<div>
    <span class="bold">Phone:</span>
    <span>555-55 555 55</span>
</div>
<div>
    <span class="bold">Email:</span>
    <span>fictional@mail.fake</span>
</div>

@for (int i = 0; i < 20; i++)
            {
            <span> - </span>
            }