
@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<ul>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/ConsoleAppHangman">ConsoleApp Hangman</a>
        <div>The classic game of Hangman, built as a console application.</div>
    </li>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/ConsoleAppCalculator">ConsoleApp Calculator</a>
        <div>Simple calculator, built as a console application.</div>
    </li>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/ConsoleAppTodoAssignment">ConsoleApp Todo</a>
        <div>A console application, creating "todos" and assigning todos to people. Tested using xUnit.</div>
    </li>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/First-Page">First-Page</a>
        <div>Html-page made for the purpose of me learning html.</div>
    </li>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/Assignment-1-Front-End">First-Page with css</a>
        <div>Same html (if i recall correctly) as above, but with css as well.</div>
    </li>
    <li>
        <a href="https://github.com/SvenDanielCarlsson/Javascript-Sokoban">Sokoban</a>
        <div>A simple variant of the game Sokoban, made using Javascript and only one level.</div>
    </li>
</ul>

